body {
  font-family: Calibri;
  color: #1c1c1c;
}

#myCanvas {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 390px;
  bottom: 530px;
}

.game #counter {
  padding: 20px;
  font-size: 3em;
}

#user-circle {
  z-index: 1;
}

#computer-circle {
  z-index: 0;
}

.big-circle {
  height: 200px;
  width: 200px;
  background: #ff7458;
}

.medium-circle {
  height: 150px;
  width: 150px;
  background: #e91e38;
}

.small-circle {
  height: 100px;
  width: 100px;
  background: #2670b3;
}
