body {
  font-family: Calibri;
  color: #1c1c1c;
}

#myCanvas {
  width: 600px;
  height: 300px;
  position: absolute;
  left: 390px;
  bottom: 530px;
}

.game #counter {
  padding: 20px;
  font-size: 3em;
}

.game-circles {
  position: absolute;
  left: 45%;
  top: 20%;
}

#computer-circle {
  border-radius: 50%;
}

#user-circle{
  border-radius: 50%;
  border: 2px solid #02496a;
  width: 0;
  height: 0;
}

.big-circle {

}

.medium-circle {

}

.small-circle {

}
